
images/map/
images/__map/
images/tiles/

generate-changes.bat
.changelog.rc

node_modules/
config.json

_site/
obj/

## Browserified/Babel'd js file. This should only exist on a developer's machine so, might as well ignore it.
dist/js/
yarn-error.log
.env
blips.json
TODO

coverage/
.cache/
