/// <reference path="./_variables.scss" />

#map-canvas {
    height: calc(100vh - 74px); // 74px = Navbar height
    background-color: rgba(#0fa8d2, 1);
}

.control-header {
    color: rgba($cyan, 1);
}
